---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import IconArrowLeft from "@/assets/icons/IconArrowLeft.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import LinkButton from "./LinkButton.astro";

type Props = {
  page: Page<CollectionEntry<"blog">>;
};

const { page } = Astro.props;
---

{
  page.lastPage > 1 && (
    <nav
      class="mt-auto mb-8 flex items-center justify-center gap-6 text-sm tracking-wider uppercase"
      role="navigation"
      aria-label="Pagination"
    >
      <LinkButton
        disabled={!page.url.prev}
        href={page.url.prev as string}
        class:list={[
          "select-none text-foreground/70 hover:text-accent",
          { "opacity-40": !page.url.prev },
        ]}
        aria-label="Previous page"
      >
        <IconArrowLeft class="inline-block rtl:rotate-180" />
        prev
      </LinkButton>
      <span class="text-foreground/55">
        {page.currentPage} / {page.lastPage}
      </span>
      <LinkButton
        disabled={!page.url.next}
        href={page.url.next as string}
        class:list={[
          "select-none text-foreground/70 hover:text-accent",
          { "opacity-40": !page.url.next },
        ]}
        aria-label="Next page"
      >
        next
        <IconArrowRight class="inline-block rtl:rotate-180" />
      </LinkButton>
    </nav>
  )
}
